{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current",
                    "esmodules": true
                },
                "useBuiltIns": "entry",
                "corejs": 3,
                "modules": "commonjs",
                "loose": true
            }
        ],
        "@babel/preset-typescript"
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-transform-modules-commonjs",
        "@babel/plugin-transform-block-scoping"
    ]
}
